body {
    margin: 0;
    background-color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
}

header {
    background-color: indianred;
    color: ghostwhite;
    padding-bottom: 20px;
    text-align: center;
}

#title {
    display: inline;
    font-size: 40px;
}
